<% content_for :bottom do %>
  <div id="get-name-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= t('.modal.title', room: @room.name) %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="no-name-error" class="alert alert-danger" style="display: none;">
            <%= t('.modal.error') %>
          </div>
          <p><%= t('.modal.body') %></p>
          <input type="text" class="form-control">
        </div>
        <div class="modal-footer">
          <button id="save-name-button" type="button" class="btn btn-primary"><%= t('.modal.go') %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h2><%= @room.name %></h2>
<div>
  <%= link_to t('.edit'), edit_room_path(@room), class: 'btn btn-sm btn-primary' %>
  <%= link_to t('.destroy'), room_path(@room), method: :delete, class: 'btn btn-sm btn-danger' %>
</div>
<table id="conversation" class="table table-striped" data-id="<%= @room.id %>">
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td class="message-from"><%= message.from %></td>
        <td class="message-content"><%= message.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
